body {
	--nav-width:100px;
	--nav-height:200px;
	--navLink-height:50px;
	--navLink-width:50px;
	/* margin: 0 0 0 var(--nav-width); */
	margin: var(--nav-height) 0 0 0;
	font-family: 'Quicksand', sans-serif;
	font-variant: small-caps;
	font-size:18px;
	
	--gradientColor:rgb(107, 76, 219);
}

#eigenVectors {
	border:1px solid black;
	width:200;
	height:200;
}
.inputImage {
	top: 15px;
	left: 0px;
	width:1000px;
	height:1000px;
}
.resultImage {
	top: 30px;
	left: 0px;
	width:1000px;
	height:1000px;
}
.imageContainer {
	border:1px solid black;
	position:relative;
	display:block;
}

#tabsContainer{
	position: absolute;
	top:50px;
	left:50px;
	width:80vw;
	height:200px;
}

#navBarContainer {
	height:var(--nav-height);
	width:100vw;
	top: 0;
	left: 0;
}
#coverCanvas {
	position:fixed;
	top:0px;
	left:0px;
	width:100vw;
	height: 125px;
	
	border:1px solid black;
}
#coverCanvasContainer {
	top:0px;
	left:0px;
	width:100vw;
	height:100px;
}


#coverSVG {
	animation: firstAnimation 2s linear forwards infinite;
}
#coverSVGContainer {
	top:0px;
	left:0px;
	width:100vw;
	height:150px;
}

#imageFileLoader > *{
	display:inline;
}

.activeLoadStep {
	display:block;
}


/* #gaussPyramid{
	display:inline;
} */
#gaussPyramid > *{
	display:inline;
}
.toolArray {
	display:inline;
}

.svgTool {
	display:inline;
	background-color: #fff;
	transition: all 0.3s ease;
}
.svgTool:focus {
	color:blue;
	border-color:blue;
}


.nav-menu {
	position:fixed;
	
	top: 100px;
	left: 0;
	/* width: var(--nav-width);
	height: 100vh; */
	height: var(--navLink-height);
	width: 100vw;
	background-color:#2222229d;
	z-index:4;
}

.homeLayout {
	z-index: 5;
}

.nav-link {
	height: var(--navLink-height);
	display: block;
	padding: 12px 18px;
	text-decoration: none;
	color:#eeeeee;
	
	font-weight: 500;
	background-image: linear-gradient(to right,#222222,25%,#61d444,50%,#222222);
	background-size:300%; 
	background-position: center;
	transition: background-position 1s;
}



.nav-link:hover,
.nav-link:focus {
	background-position:left;
}
.edgeImage {
	filter:url(#edgeFilter);
}


.pull-right {
  display: flex;
  justify-content: flex-end;
}

.h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
	color: #009579;
}

.backgroundCanvas {
	position:absolute;
	z-index:3;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	filter:brightness(.5);
	
}
.subCanvas {
	position:absolute;
	top:30%;
	z-index:5;

}
.mainHeader {
	display:block;
}



.home-widget:hover{
	transform:scale(1.1);
}



.home-widget:before {
	
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 73, 94, 0.75);
}

.home-widget {
	display: none;
	transition: all .5s;
	position: absolute;
	background-color: rgba(52, 73, 94, 0.75);
}






#fileText {
	background-color: rgba(255,255,255,0.05);
}




