.settingsWindow {
    position: absolute;
    font-family: system-ui;
    top: 25%;
    left:25%;
    z-index: 9;
    
    background-color: #f1f1f1;
    display:none;
    border: 1px solid #d3d3d3;
    width:500px;
    height:580px;
    
    --button_hue: 180;
    --button_saturation:75%;
    --button_lightness:55%;
    
}

#settingsApplyButton {
   
    float:right;
    position:absolute;
    right:5px;
    bottom:5px;
    top:5px;
    
    
}
.settingsWindowHeader {
    cursor: move;
    background-color: #2196F3;
    padding: 10px;
    z-index:10;
    color: #fff;
}

.settingsWindowFooter {
    background-color: #fff;
    padding: 10px;
    z-index:9;
    position:absolute;
    top:528px;
    border: 1px solid #d3d3d3;
    width:498px;
    height:50px;
    
    
}

.exitButton {
    
    
    background-color: inherit;
    border-radius:15%;
    width:40px;
    height:30px;
    float:right;

}


.windowTabs {
    
    max-height:50px;
}


.segmentGroup {
    
    display:block;
    
}
.subSegmentGroup {
    display:grid;
    grid-template-columns: repeat(4,100px);;
}
